@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-centered {
  @apply flex justify-center items-center;
}

.paragraph {
  @apply text-sm text-left text-gray leading-6 2xl:text-3xl;
}

.bold-text {
  @apply text-base text-left text-black font-extrabold 2xl:text-3xl max-[450px]:text-sm;
}

.heading {
  @apply text-[2.75rem] text-center text-black font-extrabold capitalize 2xl:text-[4rem] max-[450px]:text-[2rem];
}

.bubble {
  @apply py-4 px-8 border-white rounded-2xl w-auto shadow-[0_0_20px_rgba(0,0,0,0.1)];
}
